/* Загальні стилі */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Header */
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
}

header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo img {
    width: 50px;
    margin-right: 10px;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: bold;
}

/* Main content */
main {
    padding: 40px 20px;
}

h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 30px;
}


/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer ul li {
    display: inline;
    margin: 0 15px;
}

footer ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

footer ul li a:hover {
    color: #28a745;
}


.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #218838;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    text-align: center;
    color: #0073e6;
    margin-bottom: 30px;
}

.vacancies {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.vacancy-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.vacancy-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.vacancy-card h3 {
    color: #0073e6;
    margin-top: 0;
    margin-bottom: 15px;
}

.vacancy-card p {
    margin: 10px 0;
    text-align: justify;
    font-size: 14px;
}

.vacancy-card strong {
    font-weight: bold;
    color: #333;
}


